<form action="/product/add" method="post">
    <div>
    <label for="">Ingresar nombre del producto </label>
    <input type="text" name="name" >
    </div>


<div>
<label for="">Ingrese descripcion del producto</label>
    <input type="text" name="desc" >
</div>

<div>
   <label for="">Ingrese el precio en $</label>
    <input type="number" name="price" >

</div>
<div>

<label for="">Ingrese la cantidad en stock</label>
    <input type="number" name="stock" >

</div>
    

 <button>Añadir</button>
    
</form>