<form action="/consumidor/add" method="post">
    <div>
    <label for="">Ingresar numero de documento </label>
    <input type="number" name="dni" >
    </div>


<div>
<label for="">Ingrese nombre</label>
    <input type="text" name="name" >
</div>

<div>
   <label for="">Ingrese edad</label>
    <input type="number" name="age" >

</div>
<div>

<label for="">Celular</label>
    <input type="number" name="cel" >

</div>
    

 <button>Añadir</button>
    
</form>

