<a href="/consumidor"> Insertar cliente </a>
<a href="/consumidor/list">Listar usuarios</a>
<a href="/product">Productos</a>
<a href="/product/list">Listar Productos</a>

<a href="/product/list">Crear Orden</a>
<a href="/product/list">Listar Ordenes</a>